$blue-50: #e3f3ff;
$blue-100: #bbe1ff;
$blue-200: #8dcfff;
$blue-300: #57bcff;
$blue-400: #22acff;
$blue-500: #009dff;
$blue-600: #008dff;
$blue-700: #087afc;
$blue-800: #1668ea;
$blue-900: #2046cb;

$orange-50: #fff3e0;
$orange-100: #ffdfb2;
$orange-200: #ffcb81;
$orange-300: #ffb64e;
$orange-400: #ffa529;
$orange-500: #ff9608;
$orange-600: #fc8a08;
$orange-700: #f67a08;
$orange-800: #f06a08;
$orange-900: #e74f07;
